<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="c73e3708-3dbd-4756-9f77-30341ad47d98" created="2.4.0" activeEnvironment="Default environment" name="蜂贷channel" resourceRoot="" updated="2.4.0 2018-06-08T12:50:23Z" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c73e3708-3dbd-4756-9f77-30341ad47d98fileName">蜂贷channel</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>git@github.com:tangbaozi/qa-test-fengdai.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>ucenter_1.1.0</con:name>
      <con:driver>com.mysql.jdbc.Driver</con:driver>
      <con:connectionString>jdbc:mysql://47.97.116.133:3306/ucenter?user=zhangs&amp;password=PASS_VALUE</con:connectionString>
      <con:password>zs1234</con:password>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer>
    <con:jmsConnection>
      <con:name>jdbc</con:name>
      <con:extraProperties/>
    </con:jmsConnection>
  </con:jmsConnectionContainer>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:reporting/>
  <con:reporting/>
  <con:reporting/>
  <con:reporting/>
  <con:reporting/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to SoapUI Pro tests

// If hardcoding the token, uncomment and change line 5
// def token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// def token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// def headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:environment id="10a0430f-4401-4769-946f-127adc13fa24" name="56环境">
    <con:service type="REST" name="http://10.200.141.56:82">
      <con:endpoint authProfile="No Authorization" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">http://10.200.141.56:82</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>ucenter_1.1.0</con:name>
        <con:driver>com.mysql.jdbc.Driver</con:driver>
        <con:connectionString>jdbc:mysql://47.97.116.133:3306/ucenter?user=zhangs&amp;password=PASS_VALUE</con:connectionString>
        <con:password>zs1234</con:password>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer>
      <con:jmsConnection>
        <con:name>jdbc</con:name>
        <con:extraProperties/>
      </con:jmsConnection>
    </con:jmsConnectionContainer>
  </con:environment>
  <con:environment id="af64eff7-6edf-4d13-8310-5aa4bf3939af" name="58">
    <con:service type="REST" name="http://10.200.141.56:82">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>ucenter_1.1.0</con:name>
        <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer>
      <con:jmsConnection>
        <con:name>jdbc</con:name>
        <con:extraProperties/>
      </con:jmsConnection>
    </con:jmsConnectionContainer>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="10a0430f-4401-4769-946f-127adc13fa24">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="af64eff7-6edf-4d13-8310-5aa4bf3939af">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>
