<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6d612d6d-1c17-4fde-bde2-b482ae6246fd" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://10.200.141.56:82" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6d612d6d-1c17-4fde-bde2-b482ae6246fdfileName">http%3A%2F%2F10.200.141.56%3A82</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://10.200.141.56:82</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="10a0430f-4401-4769-946f-127adc13fa24">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="af64eff7-6edf-4d13-8310-5aa4bf3939af">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
